<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/game.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font.css') }}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<title>Game Introduction</title>
</head>
<body>

    <!--HERO Background with Game Title and Button Below to introduce Users to Game-->
    <header>   
        <!--  Sound ICON in Corner  -->
        <audio class="gamesound">
            <source src="/static/elements/audio/Maiden.ogg" type="audio/ogg">
        </audio>
        <img src="/static/elements/ui/No-Sound.png" class="sound_button" onclick='GameSound()'>
        
        <!--  Hearts ICON in Corner  -->
        <img src="/static/elements/ui/Full-Hearts.png" class="lives">

        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">The Endless Darkness</span>
                <span class="heading-primary-sub">A Game by Taylor Ross.</span>
            </h1>
            
            <a href="/level-1" class="button-link"><btn class="btn btn-start-screen">Start Game</btn></a>
            </form>
            <!--AUDIO for Button Click-->
            <audio id="click-element">
                <source src="/static/elements/audio/click4.ogg" type="audio/ogg">
            </audio>
        </div>
    </header>

    <!--JQUERY Files-->
    <script src="/static/js/audio.js"></script>
    <script src="/static/js/game.js"></script>
</body>
</html>